.DS_Store

const firebaseConfig = {
  apiKey: "AIzaSyAeCsQtP961XVzm8F63R0S3NCsIZRRFIBw",
  authDomain: "dtc04-5a24d.firebaseapp.com",
  projectId: "dtc04-5a24d",
  storageBucket: "dtc04-5a24d.appspot.com",
  messagingSenderId: "757442847877",
  appId: "1:757442847877:web:caa3351b6ef6442fc775ec"
};