.nav-pills .nav-link.active, .nav-pills .show>.nav-link { /* font colour and background colour of the selected tab */
    color: rgb(238, 0, 0);
    background-color: #000000;
}

.nav-link { /* font colour of the rest of the unselected tab */
    color: #d9fd0d;
}

.text-primary { /* font colour of the My todo list */
    color: #11fd0d!important;
}

#main-area { /* background colour of the main task adding area */
    background-color:aquamarine
}

.btn-primary { /* font colour and background colour of the Add button */
    color: aquamarine;
    background-color: bisque;
}

.EditButton { /* font colour and background colour of the Edit button */
    color: aquamarine;
    background-color: bisque;
}

.DeleteButton { /* font colour and background colour of the Delete button */
    color: aquamarine;
    background-color: bisque;
}

.btn-secondary { /* font colour and background colour of the Edit button in the todomore page */
    color: aquamarine;
    background-color: bisque;
}

.btn-info { /* font colour and background colour of the Save button in the todomore page */
    color: aquamarine;
    background-color: bisque;
}
.bg-primary {
    background-color: #516e88 !important;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    color: white !important;
}

body {
    background-color: #67C2CA;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #516e88 !important; /* Changes color of the cards background in main page */
}

.card-title, .card-text {
    color: rgb(255, 255, 255) !important; /* Changes font color in cards */
}
body{
    background-color: white;
}

.list-group-item{ /*Banner for each date in classroom*/
    background-color: rgb(119, 219, 132) !important;
    color: black !important;
    border: none !important;
}

.card{ /*Card for each class in classroom*/
    color: black !important;
    background-color: rgb(119, 219, 132);
    border: 2px solid black;
}

.btn-primary{
    background-color: black;
    color: red
}


/* .row{
    background-color: red;
    color: red;
} */
