section {
    margin-top: 5%;
}

a {
    margin-bottom: 2%;
}

#topnav {
    font-size: larger;
}

#navbar {
    margin: auto;
}

#profile {
    margin-right: 40%;
}

.form-control {
    height: 2em !important;
}

.align-self-center {
    padding: 0px;
}

.h-100 {
    margin-bottom: 4%;
}

.btn-primary {
    float: right;
    margin-left: 2%;
}

#sort {
    vertical-align: middle;
}